auto lo
iface lo inet loopback

allow-hotplug {{ rpi3_network_LAN }}
iface {{ rpi3_network_LAN }} inet dhcp
iface {{ rpi3_network_LAN }} inet6 auto

auto {{ rpi3_network_LAN }}:1
iface {{ rpi3_network_LAN }}:1 inet static
	address {{ rpi3_network_LAN_ip }}
	netmask {{ rpi3_network_LAN_netmask }}
	#dns-nameservers 127.0.0.1
	post up ip route add default via {{ rpi3_network_LAN_gw }}

{% if rpi3_network_wireless %}
auto {{ rpi3_network_WLAN }}
iface {{ rpi3_network_WLAN }} inet manual
	wpa-roam {{ rpi3_network_wpa_supplicant_conf }}

{% for wifi_network in rpi3_network_wifi_APs  %}
{% if wifi_network.id_str != None and wifi_network.id_str != '' %}
iface {{ wifi_network.id_str }} inet dhcp
{% endif %}
{% endfor %}
iface default inet dhcp
{% endif %}

